{% extends "accounts/base.html" %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do Now.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <center>
        <img class="rounded-circle " src="/static/images/upload.jpg" alt="Smiley face" width="200" height="200" align="middle" style="margin:50px 0px">
      <p>I am a college student at Pandit Deendayal Petroleum University pursuing computer science.</p>
      <p>It is my first attempt of making a fully functional website.</p>
      <p>Hope you enjoyed your visit.</p>
    </center>
    </div>
  </div>
</div>

<hr>
{% endblock content %}
