<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YBLOG</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

</head>

<body>
    <div class="jumbotron">
      <h1 class="display-7">Are you sure want to delete this {{object.title}}??</h1>
      <p class="lead">
        <form class="" action="" method="POST">
          {% csrf_token %}
          <input class="btn btn-primary " type="submit" name="" value="Yes">
          <a class="btn btn-danger btn-sm" href="{% url 'home' %}" role="button">No</a>
        </form>
      </p>
    </div>

</body>

</html>
